.tabContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabs {
  min-width: 40%;
  display: flex;
  justify-content: space-around;
}
